/*
    ---- default button types: ----
*/

/*
    text button
*/
.clientside_view_button-text_button {
    cursor:pointer;
    color:#2196F3;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    padding:8px 16px;
}
.clientside_view_button-text_button:hover {
    color:#0674cb;
    background-color: #c4e3fb;
}


/*
    basic button
*/
.clientside_view_button-basic {
    border:1px solid #c3aea9;
    border-radius:2px;
    color:#7c7c7c;
    cursor:pointer;
    padding:5px 0px; font-size:13px; line-height:19px;
}
.clientside_view_button-basic:hover{
    border:1px solid #2196F3;
    border-radius:2px;
    color:#0260be;
}


/*
    call to action button
*/
.clientside_view_button-call_to_action-base {
    border-radius:2px;
    min-width:175px; min-height:35px; padding:5px 0px;
}
.clientside_view_button-call_to_action-color {
    background-color:#2196F3;
    color:white;
    cursor:pointer;
}
.clientside_view_button-call_to_action-color:hover {
    background-color:#0684e8;
}



/*
    spinner; http://epic-spinners.epicmax.co/#/
*/
.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(20px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: inherit;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: inherit;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
